

.link-tree{
  margin: 0;
  padding: 40px 144px 0 144px;
  height: 100vh;
  

}

.image-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu{
  display: none;
}

#profile_id{
  width: 88px;
}

#twitter{
  font-size: 20px;
  font-weight: 700;
}

#slack{
  display: none;
}

.link-container{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#twitter_link, #btn__zuri, #books, #book__python, #pitch, #book__design{
  background-color: #EAECF0;
  border-radius: 8px;
  padding: 24px, 32px;
  height: 40px;
  border: none;
  width: 100%;
  cursor: pointer;
  text-align: center;
  
  
  
}

.menu-image{
  position: absolute;
  left: 30;
  top: 1;
  padding-left: 290px;
  padding-bottom: 120px;
}
.menu-image> .share{
  display: none;
}

a{
  text-decoration: none;
  color: black;
  padding-top: 10px;
}

.icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #EAECF0 ;
  padding: 20px  0;
  align-items: center;
  margin-top: 30px ;
}

.center > p{
  color: #667085;
  font-weight: 400;
  font-size: 16px;
}


@media screen and (max-width: 880px) {
  div.icon-container, div.footer {
    display: none;
  }

  .link-tree{
    padding: 60px 30px 0 30px;
  }

  .menu-image{
    display: none;
  }
  .menu{
    display: block;
  }
}
